.header-bottom-container {
  background-color: #ffffff;
  padding: 16px 32px 24px 32px; /* Top padding matches spacing from Top component */
  display: flex;
  border-bottom: 1px solid #e5e7eb; /* The final line separating header from content */
  justify-content:space-between;
  /* border: 1px black solid; */
}

/* Row of Pills */
.filter-pills-row {
  display: flex;
  gap: 10px;
  flex-wrap: wrap; /* Allows wrapping on small screens */
}

.filter-pill {
  background-color: #ffffff;
  border: 1px solid #e5e7eb;
  border-radius: 6px; /* Pill shape */
  padding: 8px 16px;
  font-size: 14px;
  color: #374151;
  cursor: pointer;
  transition: all 0.2s;
}

.filter-pill:hover {
  background-color: #f9fafb;
  border-color: #d1d5db;
}

/* Review Count Text */
.review-count-text {
  font-size: 14px;
  color: #6b7280; /* Gray text */
  align-content: center;
  /* border: 1px black solid; */
}

.highlight-number {
  font-weight: 600;
  color: #1f2937; /* Darker number */
}